<% if !@success_message.nil? %>
  <b><%= @success_message %></b><br>
<% end %>


<% @urls.each do |url| %>
  Long Url: <%= url.url  %><br>
  Short Url: <a href= "<%="http://localhost:9393/#{url.shortened_url}" %>"><%="http://localhost:9393/#{url.shortened_url}" %></a><br>

  <a href= "urls/<%= url.id %>/edit" %>">Edit</a>
  <form action="urls/<%= url.id %>" method="post">
      <input name="_method" type="hidden" value="delete" />
      <button type="submit" class="btn btn-success btn-xs">Delete</button>
  </form>

  ------------------------------ <br>
<% end %>

<% if !@error.nil? %>
  <b><%= @error %></b><br>
<% end %>

<a href="/urls/new"> Click here to create new link</a>
<br><br>
<div>
  <form action= "/urls" method= "post">
    <input type= "text" name= "url[url]" placeholder= "URL here!" value="http://">
    <input type= "submit" value= "Shorten!">
  </form>
</div>